<% if profile.errors.any? %>
  <div class="mx-4">
    <%= render "shared/form_errors", resource: profile %>
  </div>
<% end %>

<%= form_with model: profile, html: { class: "w-full px-8" } do |form| %>
  <div class="flex flex-col justify-center mb-4 items-center" data-controller="preview">
    <%= image_tag avatar_url_for(profile, variant: :thumb),
      class: "rounded-full border-2 border-black mb-4",
      data: { preview_target: "image" }
    %>
    <%= form.label :avatar, "Change avatar",
      class: "btn btn-primary text-right"
    %>
    <%= form.file_field :avatar,
      class: "hidden",
      accept: "image/png,image/jpeg,image/jpg",
      data: { action: "change->preview#show" }
    %>
  </div>

  <div class="flex flex-col mb-4"
       data-controller="character-counter toggle"
       data-toggle-change-class="text-red-700"
  >
    <%= form.label :bio, class: "font-bold text-center" %>
    <%= form.text_area :bio,
      class: "border border-gray-400 rounded-md p-2 w-full h-[200px]",
      data: {
        character_counter_target: "input",
        action: "input->toggle#countSwitch",
        toggle_max_param: profile.class::MAX_BIO_LENGTH
      }
    %>
    <div class="pr-2 text-right" data-toggle-target="toggleElement">
      <span data-character-counter-target="counter" data-toggle-target="count"></span>/<%= profile.class::MAX_BIO_LENGTH %>
    </div>
  </div>

  <div class="grid grid-cols-4 xl:gap-y-2 mb-6">
    <%= form.label :gender,
      class: "font-bold col-span-4 self-center after:content-[':']
              xl:col-span-1 self-center"
    %>
    <%= form.select :gender,
      Profile::GENDERS.keys.map { |w| [w.to_s.humanize, w] },
      {},
      {
        class: "border border-black px-2 col-span-4 xl:col-span-3
                h-[calc(1.2rem+16px)] self-center mb-2 xl:mb-0"
      }
    %>

    <%= form.label :location,
      class: "font-bold md:col-span-1 col-span-4 self-center after:content-[':']"
    %>
    <%= form.text_field :location,
      class: "border border-black py-1 px-2 self-center xl:col-span-3
              col-span-4 mb-2 xl:mb-0",
      maxlength: profile.class::MAX_LOCATION_LENGTH
    %>

    <%= form.label :birthday,
      class: "font-bold md:col-span-1 col-span-4 self-center after:content-[':']"
    %>
    <%= form.date_field :birthday,
      class: "border border-black py-[3px] px-2 self-center xl:col-span-3
              col-span-4 mb-2 xl:mb-0"
    %>
  </div>

  <%= form.submit class: "btn btn-primary mb-4 w-2/3 mx-auto flex justify-center" %>
<% end %>
