<ul>
  <li>
    <%= profile.user.name %>
  </li>
  <li>
    Gender: <%= profile.gender %>
  </li>
  <li>
    Birthday: <%= profile.birthday %>
  </li>
  <li>
    Age: <%= profile.age_at(Time.now.utc.to_date) %>
  </li>
  <li>
    Location: <%= profile.location %>
  </li>
</ul>
