<h1>Edit Profile</h1>
<%= image_tag avatar_url_for(@profile), class: "rounded-full" %>

<%= form_for [:user, @profile] do |form| %>
  <%= form.label :bio %>
  <%= form.text_field :bio %>

  <%= form.label :gender %>
  <%= form.select :gender,
    Profile::GENDERS.keys.map { |w| [w.to_s.humanize, w] }
  %>

  <%= form.label :location %>
  <%= form.text_field :location %>

  <%= form.label :birthday %>
  <%= form.date_field :birthday %>

  <%= form.label :avatar %>
  <%= form.file_field :avatar %>

  <%= form.submit %>
<% end %>
