<h1>Profile</h1>

<%= form_for [:user, @profile] do |form| %>
  <%= form.label :gender %>
  <%= form.select :gender, Profile.genders.keys.map { |w| [w.humanize, w] } %>

  <%= form.label :location %>
  <%= form.text_field :location %>

  <%= form.label :birthday %>
  <%= form.date_field :birthday %>

  <%= form.submit %>
<% end %>
