<h1><%= @profile.user.first_name %>'s Profile</h1>
<%= image_tag avatar_url_for(@profile), class: "rounded-full" %>
<% if @profile.complete? %>
  <%= render @profile %>
<% end %>
<% if current_user == @profile.user %>
  <% if @profile.complete? %>
    <%= link_to "Edit Profile", edit_user_profile_path %>
  <% else %>
    <p>You haven't finished your profile.</p>
    <%= link_to "Finish Profile", edit_user_profile_path %>
  <% end %>
<% end %>
