<div class="border border-black xl:w-3/4 w-full rounded-md p-4 bg-gray-100
            flex justify-between items-center min-w-[300px] lg:flex-row flex-col gap-2"
>
  <%= link_to user_path(user.username), class: "flex items-center gap-2 hover:underline" do %>
    <%= image_tag avatar_url_for(user.profile, variant: :icon), class: "rounded-full" %>
    <p class="font-bold"><%= user.name %></p>
  <% end %>

  <% current_friendship = @current_user_friendships.for(user).take %>
  <% if !current_friendship %>
    <%= button_to "Add Friend",
      user_friendships_path(
        user_id: current_user,
        friendship: { receiver_id: user }
      ),
      class: "btn btn-primary"
    %>
  <% elsif current_friendship.accepted? %>
    <div class="flex gap-2 items-center">
      <%= button_to "Friend", {}, disabled: true, class: "btn btn-disabled" %>
      <%= button_to friendship_path(current_friendship),
        method: :delete,
        aria: { label: "Remove Friend" },
        form: {
          data: { turbo_confirm: "Are you sure you want to remove this friend?" }
        },
        class: "btn border-2 rounded-md p-0.5 text-red-600 border-transparent
                hover:bg-red-600 hover:text-white flex items-center" do %>
        <%= inline_svg_tag("icons/minus-circle-outline.svg", class: "w-6 h-6") %>
      <% end %>
    </div>
  <% else %>
    <div class="flex gap-2 items-center">
    <%= button_to "Pending ...", {}, disabled: true, class: "btn btn-disabled" %>
      <%= button_to friendship_path(current_friendship),
        method: :delete,
        aria: { label: "Cancel Friend Request" },
        form: {
          data: { turbo_confirm: "Are you sure you want to cancel your friend request?" }
        },
        class: "btn border-2 rounded-md p-0.5 text-red-600 border-transparent
                hover:bg-red-600 hover:text-white flex items-center" do %>
        <%= inline_svg_tag("icons/close-circle-outline.svg", class: "w-6 h-6") %>
      <% end %>
    </div>
  <% end %>
</div>
