<h1>Find New Friends</h1>

<% if @users.exists? %>
  <% @users.each do |user| %>
    <p>This is a user: <%= user.name %></p>
    <%= link_to "View profile", user_profile_path(user) %>
    <% if current_user.friends.include?(user) %>
      <%= button_to "You're friends with this user.", {}, disabled: true %>
    <% elsif current_user.pending_friends.include?(user) %>
      <%= button_to "Pending request ...", {}, disabled: true %>
    <% else %>
      <%= button_to "Friend this User",
        user_friendships_path(
          user_id: current_user,
          friendship: { receiver_id: user }
        )
      %>
    <% end %>
  <% end %>
<% else %>
  <p>No users matched this search.</p>
<% end %>
