<button class="absolute w-[3.25rem] aspect-square top-3 right-2 z-50 border-2 border-slate-500
               bg-[url('icons/menu.svg')] bg-no-repeat md:hidden text-white rounded-full"
        data-action="click->toggle#switch">
</button>

<nav class="fixed flex flex-col gap-4 pt-4 pl-8 bg-slate-800
            top-0 right-0 left-0 bottom-0 -translate-y-full md:translate-y-0
            md:static md:flex-row md:flex md:pt-0 md:justify-between"
     data-toggle-target="toggleElement"
>
  <div class="flex">
    <%= inline_svg_tag("icons/coffee.svg", class: "hidden md:block mr-4") %>
    <%= form_with url: users_path, method: :get, html: { class: "flex my-2" } do |form| %>
      <%= form.label :search, class: "hidden" %>
      <%= form.text_field :search,
        placeholder: "Search Coffee Book",
        class: "rounded-l-md text-black py-1 pl-2"
      %>
      <%= button_tag(class: "border border-white rounded-r-md px-2") do %>
        <%= inline_svg_tag("icons/magnify.svg") %>
      <% end %>
    <% end %>
  </div>
  <ul class="flex flex-col items-start md:flex-row md:items-center gap-4 lg:gap-10 xl:gap-4">
    <li>
      <%= link_to root_path,
        class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2 md:px-6" do
      %>
        <%= inline_svg_tag("icons/home.svg", class: "w-6 h-6 inline-block") %>
        <p class="md:hidden xl:block">Home</p>
      <% end %>
    </li>
    <li>
      <%= link_to user_notifications_path(current_user),
        class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2 md:px-6" do
      %>
        <%= inline_svg_tag("icons/bell", class: "w-6 h-6 inline-block") %>
        <p class="md:hidden xl:block">
          <%= current_user.unread_notifications? ? "Notifications+" : "Notifications" %>
        </p>
      <% end %>
    </li>
    <li>
      <%= link_to friend_list_path(current_user),
        class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2 md:px-6" do
      %>
        <%= inline_svg_tag("icons/friends.svg", class: "w-6 h-6 inline-block") %>
        <p class="md:hidden xl:block">Friends</p>
      <% end %>
    </li>
    <li>
      <%= link_to users_path,
        class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2 md:px-6" do
      %>
        <%= inline_svg_tag("icons/user-search.svg", class: "w-6 h-6 inline-block") %>
        <p class="md:hidden xl:block">Find Friends</p>
      <% end %>
    </li>
  </ul>
</nav>
