<button class="absolute w-6 aspect-square top-3 right-2 z-50
               bg-[url('icons/menu.svg')] bg-no-repeat sm:hidden text-white"
        data-action="click->toggle#switch">
</button>

<nav class="fixed flex flex-col gap-4 pt-4 pl-8 bg-slate-800
            top-0 right-0 left-0 bottom-0 -translate-y-full transition-transform
            sm:translate-y-0 sm:static sm:flex-row sm:flex sm:pt-0 sm:justify-between"
     data-toggle-target="toggleElement"
>
  <div class="flex">
    <%= inline_svg_tag("icons/coffee.svg", class: "hidden sm:block mr-4") %>
    <%= form_with url: users_path, method: :get, html: { class: "flex my-2" } do |form| %>
      <%= form.label :search, class: "hidden" %>
      <%= form.text_field :search,
        placeholder: "Search Coffee Book",
        class: "rounded-l-md text-black py-1 pl-2"
      %>
      <%= button_tag(class: "border border-white rounded-r-md px-2") do %>
        <%= inline_svg_tag("icons/magnify.svg") %>
      <% end %>
    <% end %>
  </div>
  <ul class="flex flex-col items-start sm:flex-row sm:items-center gap-4">
    <li>
      <%= link_to root_path, class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2" do %>
        <%= inline_svg_tag("icons/home.svg", class: "w-6 h-6 inline-block") %>
        <p>Home</p>
      <% end %>
    </li>
    <li>
      <%= link_to user_notifications_path(current_user), class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2" do %>
        <%= inline_svg_tag("icons/bell", class: "w-6 h-6 inline-block") %>
        <p><%= current_user.unread_notifications? ? "Notifications+" : "Notifications" %></p>
      <% end %>
    </li>
    <li>
      <%= link_to friend_list_path(current_user), class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2" do %>
        <%= inline_svg_tag("icons/friends.svg", class: "w-6 h-6 inline-block") %>
        <p>Friends</p>
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: "hover:bg-slate-700 py-2 px-2 rounded-md flex gap-2" do %>
        <%= inline_svg_tag("icons/user-search.svg", class: "w-6 h-6 inline-block") %>
        <p>Find Friends</p>
      <% end %>
    </li>
  </ul>
</nav>
