<button class="absolute w-[3.25rem] aspect-square top-3 right-2 z-50 border-2 border-slate-500
               bg-[url('icons/menu.svg')] bg-no-repeat md:hidden text-white rounded-full"
        data-action="click->toggle#switch">
</button>

<%= inline_svg_tag("icons/coffee.svg", class: "mr-auto md:mr-4 z-10") %>

<nav class="fixed flex flex-col gap-4 pt-4 bg-slate-800
            top-20 right-0 left-0 bottom-0 -translate-y-full md:translate-y-0
            md:static md:flex-row md:flex md:pt-0 md:justify-between"
     data-toggle-target="toggleElement"
>
  <%= render "shared/user_search_form" %>
  <ul class="flex flex-col items-start md:flex-row md:items-center lg:gap-10
             xl:gap-4 divide-y divide-slate-900 border-y border-slate-900
             md:border-none md:divide-none"
  >
    <li class="w-full md:w-auto">
      <%= nav_link_to path: root_path,
        icon: "icons/home",
        text: "Home"
      %>
    </li>
    <li class="w-full md:w-auto">
      <%= nav_link_to path: user_notifications_path(current_user),
        icon: "icons/bell",
        text: current_user.unread_notifications? ? "Notifications+" : "Notifications"
      %>
    </li>
    <li class="w-full md:w-auto">
      <%= nav_link_to path: friend_list_path(current_user),
        icon: "icons/friends",
        text: "Friends"
      %>
    </li>
    <li class="w-full md:w-auto">
      <%= nav_link_to path: users_path,
        icon: "icons/user-search",
        text: "Find Friends"
      %>
    </li>
  </ul>
</nav>
