<%= form_with model: post, class: "w-full" do |form| %>
  <div class="mb-4">
    <%= form.label :body, class: "hidden" %>
    <%= form.text_area :body,
      class: "border border-gray-400 rounded-md p-2 w-full h-[150px]",
      placeholder: "What's on your mind?"
    %>
  </div>
  <div class="mb-4" data-controller="preview">
    <% image_src = post.photo.attached? ? post.photo.variant(:thumb) : "" %>
    <%= image_tag(image_src, class: "mb-4 rounded-md", data: { preview_target: "image" }) %>

    <%= form.label :photo, "Attach photo", class: "btn btn-primary py-1 mb-4" %>
    <%= form.file_field :photo,
      class: "hidden",
      accept: 'image/png,image/jpeg,image/jpg',
      data: { action: "change->preview#show" }
    %>
  </div>
  <div>
    <%= form.submit "Create Post", class: "btn btn-primary px-[22px]" %>
  </div>
<% end %>
