<% if post.errors.any? %>
  <p><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved.</p>
  <ul>
    <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: post do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.submit "Create Post" %>
  </div>
<% end %>
