<div class="flex flex-col border border-black rounded-md">
  <div class="bg-slate-800 text-white p-2 flex justify-between items-center">
    <div>
      <p class="font-bold"><%= post.author.name %></p>
      <p><%= "#{distance_of_time_in_words_to_now(post.updated_at)} ago" %></p>
    </div>
    <% if current_user == post.author %>
      <%= render "posts/post_actions", post: post %>
    <% end %>
  </div>

  <div class="p-2">
    <%= post.body %>
  </div>

  <% if post.photo.attached? %>
    <%= image_tag post.photo.variant(:timeline), class: "max-w-[240px]" %>
  <% end %>

  <div class="flex items-center gap-4">
    <%= render "likes/likes", likeable: post %>
    <%= render "comment_count", post: post %>
  </div>
</div>
