<div class="flex flex-col">
  <p class="font-bold">
    <%= post.user.name %>
  </p>
  <%= post.body %>
  <p>Likes: <%= post.likes.size %></p>
  <% if user_like %>
    <%= button_to "Unlike Post", like_path(user_like), method: :delete %>
  <% else %>
    <%= button_to "Like Post", post_likes_path(post) %>
  <% end %>
  <% if post.user == current_user %>
    <%= link_to "Edit Post", edit_post_path(post) %>
    <%= link_to "Delete Post",
      post_path(post),
      data: { turbo_method: :delete }
    %>
  <% else %>
    <%= "" %>
  <% end %>
</div>
