<div class="flex flex-col">
  <p class="font-bold">
    <%= post.author.name %>
  </p>
  <% if post.photo.attached? %>
    <%= image_tag post.photo.variant(:timeline), class: "w-60" %>
  <% end %>
  <%= post.body %>
  <%= render "posts/post_likes",
    post: post,
    user_like: post.find_like_from(current_user)
  %>
  <% if current_user == post.author %>
    <%= render "posts/post_actions", post: post %>
  <% end %>
</div>
