<h1>Your post</h1>

<%= @post.body %>
<%= @post.user.name %>
<%= link_to "Edit Post", edit_post_path(@post) %>
<%= link_to "Delete Post",
  post_path(@post),
  data: { turbo_method: :delete }
%>

<h2>Comments:</h2>
<%= render @post.comments %>

<h2>Add Comment:</h2>
<%= render "comments/form", post: @post %>
