<!DOCTYPE html>
<html>
  <head>
    <title>RailsBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render user_signed_in? ? "shared/header" : "devise/shared/header" %>
    <%= render "shared/flashes" %>
    <div class="py-4"></div>
    <div class="flex-1 mb-8">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
